
.roomName:hover {
  color: transparent; 
}


.roomName:hover::after {
  content: "+";       
  color:black;      
  position: absolute;
  align-self:center;
  
 
 
}
#workersZone{
  scrollbar-width: none;
}

